 .outerbox{
    width: 80%;
    height: 100vw;
    background-color: white;
    border: 10px solid gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
    padding-bottom: 12px;
    margin-left: 150px;
    margin-top: 20px;
}
*{
    padding:0;
    margin:0;
}
.innertop{
    width: 50%;
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}

.colors{
    display: flex;
    width:100px;
}
.black{
    width: 100px;
    height:10px;
    background-color: black;
}
.grey{
    width: 100px;
    height:10px;
    background-color: grey
}
.aquablue{
    width: 100px;
    height: 10px;
    background-color: aqua;
}
.Heading{
    width: 53%;
    font-size: 50px;
    font-weight: 400;
}
.background{
    width: 50vw;
    background-color: rgb(64, 169, 196)
}
.contents{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: azure;
    margin-top: 60px;
    margin-left: 50px;
}
.van{
    width: 50vw;
    height: 50vw;
}
.bottom{
    width:52%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 12px;
}